@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html{
  scroll-behavior:smooth;
}
*{
  margin:0;
  padding:0;
}

.wrapper{
  font-family: 'Poppins', sans-serif;
}
.wrapper .navigation{
  position:fixed;
  left:0;
  width:60px;
  height:100vh;
  background:#01283c;
  color:#fff;
  box-shadow:1px 2px 15px rgba(0,0,0,.5);
  transition:all .4s ease;
}
.wrapper .navigation.active{
  width:250px;
}
.wrapper .navigation .brand{
  font-weight:900;
  font-size:20px;
  font-family: 'Style Script', cursive;
  text-align:center;
  padding:10px 0;
}
.wrapper .navigation.active .brand{
  font-size:30px;
  padding:10px 20px;
}
.wrapper .navigation .nav{
  padding:10px 5px;
  list-style:none;
  display:flex;
  flex-direction:column;
}
.wrapper .navigation .nav a{
  font-size:15px;
  padding:10px 10px 10px 15px;
  margin-bottom:8px;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  display:flex;
  align-items:center;
  line-height: 10px;
}
.wrapper .navigation .nav a span{
  display:none;
  transition-delay: 4s;
}
.wrapper .navigation.active .nav a span{
  display:block;
}
.wrapper .navigation .nav a:hover,
.wrapper .navigation .nav a.active{
  background:#05a7f5;
}
.wrapper .navigation .nav a i{
  font-size:17px;
}
.wrapper .navigation.active .nav a i{
  margin-right:18px;
}
.wrapper .container{
  background:#f5f4f6;
  height:100vh;
  margin-left:60px;
  transition:margin .4s ease;
}
.wrapper .container.active{
  margin-left:250px;
}
.wrapper .container .nav{
  background:#fffdff;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:5px 10px;
  box-shadow:1px 2px 3px rgba(0,0,0,.2);
}
.wrapper .container .nav button{
  background:none;
  padding:3px 5px;
  border:none;
  outline:none;
  font-size:24px;
  cursor:pointer;
}
.wrapper .container .nav .profile img{
  width:35px;
  height:35px;
  object-position:center;
  object-fit:cover;
  border-radius:50%;
}  
.wrapper .container .stats{
  padding:15px;
  display:flex;
  justify-content:space-between;
}
.wrapper .container .stats .card{
  background:#fffdff;
  width:calc((100% / 4) - 30px);
  padding: 10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  border-radius:3px;
}
.wrapper .container .stats .card i{
  font-size:24px;
  color:#05a7f6;
}
.wrapper .container .stats .card .number{
  font-size:18px;
  font-weight:700;
}
.wrapper .container .content{
  padding: 0 15px;
  display:flex;
  justify-content:space-between;
}
.wrapper .container .content .side{
  background:#fffdff;
 }
.wrapper .container .content .left{
  width:calc(65% - 10px);
}
.wrapper .container .content .right{
  width:calc(35% - 10px);
}
.wrapper .container .content .left .header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.wrapper .container .content .side .header{
  padding:15px 15px;
}
.wrapper .container .content .side .header .title{
  font-size: 18px;
  font-weight:600;
}
.wrapper .container .content .left .header .btn{
  border:none;
  text-decoration:none;
  padding:5px 10px;
  font-size: 16px;
  font-weight:600;
  background:#04a6f5;
  color:#fff;
  border-radius:4px;
  cursor:pointer;
}
.wrapper .container .content .left .table{
  padding:0 10px;
  overflow: auto;
  max-height: 330px;
}
.wrapper .container .content .left table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.wrapper .container .content .left table tr{
  transition:background .2s ease;
}
.wrapper .container .content .left table tr:hover{
  background:#04a6f5;
}
td, th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.wrapper .container .content .left table .statu{
  text-decoration:none;
  color:#fff;
  background:#01283c;
  padding:2px 5px;
  border-radius:3px;
  font-weight:600;
  font-size:15px;
}
.wrapper .container .content .left table .subscriber{
  background:green;
}
.wrapper .container .content .left table .private{
  background:red;
}
.wrapper .container .content .right .subs{
  max-height:310px;
  overflow:auto;
}
.wrapper .container .content .right .sub{
  display:flex;
  align-items:center;
  padding:0px 20px;
  text-decoration:none;
  margin-bottom:5px;
  transition:background .2s ease;
}
.wrapper .container .content .right .sub:hover{
  background:#04a6f5;
}
.wrapper .container .content .right .sub img{
  width: 40px;
  height: 40px;
  border-radius:50%;
  object-position:center;
  object-fit:cover;
  margin-right:10px;
}
.wrapper .container .content .right .sub .info{
  margin-right:auto;
}
.wrapper .container .content .right .sub .name{
  color:#000;
  text-decoration:none;
  font-weight:600;
}
.wrapper .container .content .right .sub .country{
  color:#555;
}
.wrapper .container .content .right .sub .payed{
  font-size:17px;
  color:#fff;
  background:#04a6f5;
  padding:1px 9px;
  border-radius:100px;
}